{% extends "base.html" %}

{% block content %}

	<div class="row sub-header">
		<h2>New Post</h2>
	</div>

	<div class="row new-post">
		<form method="post">
			
			<label>
				<div id="new-subject">Subject</div>
				<input type="text" name="subject" value="{{subject}}">
			</label>
			
			<br>
			<br>
			
			<label>
				<div id="new-post">Blog Post</div>
				<textarea class="content" name="content">{{content}}</textarea>
			</label>
			
			<br>
			<br>
			
			<div class="error">{{error}}</div>
			
			<input type="submit" class="new-post-btn">
			
			<br>
			

			<div class="cancel">
				<a href="/blog">Cancel</a>
			</div>
		</form>
	</div>

{% endblock %}
